@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');


@theme {
  /* This creates the utilities font-gideon and font-display */
  --font-gideon: "Gideon Roman", serif;
  --font-display: "DM Serif Display", serif;
  
  /* You can also define your luxury colors here */
  --color-brand-brown: #8b5e34; 
}

:root {
  --background: #f8f7f3;
  --foreground: #252525;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}